*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* REGOLE HEADER */

header{
    background-color: orange;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    width: 77%;
    margin-top: 15px;
}



#header-text{
    text-align: left;
    margin-top: 15px;
    color: white;
}

.icon{
    margin-top: 15px;
}

.fa-user{
    padding: 0 7px;
}

.fa-heart{
    padding: 0 7px;
}

.fa-bag-shopping{
    padding: 0 7px;
}

/* REGOLE MAIN */
main{
    margin-bottom: 10%;
}
.container-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10%;
    
}


.blocchi{
    width: 25%;
    /* background-color: gray; */
    /*DEBUG */ 
    /* height: 850px; */
    /* border: solid 2px black; */
    position: relative;
    
}

.discount-label{
    padding: 5px;
    background-color: red;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    left: 0;
    color: white;
    
}


.sostenibilita{
    padding: 5px 10px;
    background-color: green;
    font-size: 20px;
    position: absolute;
    color: white;
    bottom: 100px;
    left: 60px;
}

.sostenibilita-1{
    padding: 5px 10px;
    background-color: green;
    font-size: 20px;
    position: absolute;
    color: white;
    bottom: 100px;
    left: 0;
}




.img-size{
    width: 100%;
    height: auto;
}


.paragrafo-1{
    font-size: 15px;
}

.paragrafo-2{
    font-size: 15px;

}


.red-price{
    color: red;
}










/* REGOLE FOOTER */

footer {
    background-color: black;
    height: 100px;
    margin-top: 5%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.footer-text{
    color: white;
    align-items: flex-start;
    width: 77%;
    display: flex;
    flex-direction: row;

}

.p-footer{
    width: 11%;
}



.icon-footer{
    margin-top: 10px;
}

.boolean-srl{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}




.fa-square-twitter{
    padding: 0 7px;
}   

.fa-square-facebook{
    padding: 0 7px;
}

.fa-square-instagram{
    padding: 0 7px;
}

.fa-square-pinterest{
    padding: 0 7px;
}

.fa-square-youtube{
    padding: 0 7px;
}


