*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* REGOLE HEADER */

header{
    background-color: orange;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    width: 77%;
    margin-top: 15px;
}



#header-text{
    text-align: left;
    margin-top: 15px;
    color: white;
}

.icon{
    margin-top: 15px;
}


/* REGOLE MAIN */

.container-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10%;
    
}


.blocchi{
    width: 25%;
    /* background-color: gray; */
    /*DEBUG */ 
    /* height: 850px; */
    /* border: solid 2px black; */

}



.img-size{
    width: 100%;
    height: auto;
}


.paragrafo-1{
    font-size: 15px;
}

.paragrafo-2{
    font-size: 15px;

}


.red-price{
    color: red;
}










/* REGOLE FOOTER */

footer {
    background-color: black;
    /* DEBUG */
    height: 200px;
    margin-top: 5%;
}

.footer-text{



}

